.crm-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 960px;
    padding: 2px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    box-sizing: border-box;
    margin: 50px;
    position: relative;
}

.header-block, .crm-list-goods {
    width: 100%;
}

.header-block, .header-list-goods, .line, .action-line, .crm-buttons {
    display: flex;
    flex-direction: row;
}

.header, .add-goods, .edit-line, .delete-line {
    width: 50%;
    padding: 2px;
}

.header-block {
    border-bottom: outset;
    border-color: lavender;
}

.header {
    padding-left: 100px;
}

.add-goods {
    text-align: right;
    font-size: large;
    font-style: oblique;
    padding-right: 100px;
}

.add-new, .edit-line, .delete-line {
    cursor: pointer;
}

.name-list, .price-list, .action-list, .name-line, .price-line, .action-line {
    width: 33.33%;
    text-align: center;
}


.crm-block-input {
    padding-top: 10px;
    width: 40%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 25px;
    position: absolute;
}

.header-input, .header-price {
    padding: 5px;

} 

.block-hidden {
    display: none;
}

.name-item, .price-item {
    width: 100%;
    text-align: center;
}

.input-price-field {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
}

.crm-buttons {
    margin: 10px;
    justify-content: space-between;
;}

.button-save {
    margin-right: 50px;
}

.save-input, .cancel-input {
    border: none;
    border-radius: 20px;
    background-color: lightsalmon;
    width: 100px;
    height: 30px;
}
















